@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
:root {
  --text-primary: 64px;

  /*-----lineheight-----*/
  --leading-full: 100%;
  --leading-more: 105%;
  --leading-150: 150%;
}

@theme {
  --color-grey: #bfbfbf;
  --color-grey2: #f9f9f9;
  --color-grey3: #e6e6e6;
  --color-grey4: #bbbbbb;
  --color-grey5: #efefef;
  --color-light-grey: #fdfeff;
  --color-dark: #121212;
  --color-dark2: #484848;
  --color-dark3: #727272;
  --color-dark4: #323232;
  --color-light-dark: #707070;
  --color-blueish: #009bf9;
  --color-light-red: #fdf9f8;
  --color-light-green: #ecfff2;
  --color-light-purple: #e8e9ff;
  --color-light-orange: #ffeaee;
  --color-orange: #ff4200;
  --color-dark-grey: #f8f8f8;
  --color-dark-grey2: #949494;

}
@theme {
  --font-inter: "Inter", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
}
.font-inter {
  font-family: var(--font-inter);
  font-style: normal;
}
.font-urbanist {
  font-family: var(--font-urbanist);
}
@theme {
  --text-primary: var(--text-primary);
}
@theme {
  --inset-shadow-main: inset 0px -40px 0px 35px white;
  --shadow-orange-in: inset 0px 0px 0px 30px var(--color-orange);
}
@theme {
  --leading-more: var(--leading-more);
  --leading-150: var(--leading-150);
  --leading-full: var(--leading-full);
}
.bg-control {
  background-image: url(../assets//images/png/bg-controls.png);
  background-size: 100% 100%;
  box-shadow: 8px 8px 48px 8px rgba(0, 0, 0, 0.08);
}
.bg-privacy {
  background-image: url(../assets/images/png/bg-privacy.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
}
.btn-compliance-docs {
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}
.letter-spacing-3 {
  letter-spacing: -2px !important ;
}
